.Button {
    display: inline-block;

    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 15px;
    padding: 10px 20px;

    border-radius: 5px;
    border: 2px solid white;

    font-weight: bold;
    font-size: 12px;
    color: white;
    text-transform: uppercase;

    cursor: pointer;
}

.Button:focus {
    outline: none;
}

.Button:active {
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, .3);
}

.Button:hover {
    background: #382d7c;
}

.Button:disabled {
    background: lightgray;
    color: dimgrey;
    cursor: not-allowed;
}

.primary {
    background: #7a60f6;
}

.success {
    background: rgba(80, 65, 178, 0.9);
}

.error {
    background: rgba(240, 87, 108, .7);
}