.MenuToggle {
    position: fixed;
    top: 40px;
    left: 40px;

    font-size: 20px;
    color: white;

    transition: opacity, left .25s ease-in;
    cursor: pointer;
    z-index: 100;
}

.MenuToggle:hover{
    opacity: .7;
}

.open {
    left: 320px;
}